{% extends "base.html" %} {% block content %}
<div class="nav"><h1 class="navtitle">歡迎光臨，請註冊登入系統</h1></div>
<div class="content">
    <div class="title">註冊帳號</div>
    <form action="/signup" method="post" class="formfield" id="signupform" onkeydown="if(event.keyCode === 13) return false">
        <div class="formitem"><label>姓名</label><input type="text" name="name" id="signupname"/></div>
        <div class="formitem"><label>帳號</label><input type="text" name="username" id="signupusername"/></div>
        <div class="formitem"><label>密碼</label><input type="password" name="password" id="signuppassword"/></div>
        <div class="formitem"><button>註冊</button></div>
    </form>
</div>
<hr>
<div class="content">
    <div class="title">登入系統</div>
    <form action="/signin" method="post" class="formfield" id="loginform" onkeydown="if(event.keyCode === 13) return false">
        <div class="formitem"><label>帳號</label><input type="text" name="username" id="signinusername"/></div>
        <div class="formitem"><label>密碼</label><input type="password" name="password"  id="signinpassword"/></div>
        <div class="formitem"><button>登入</button></div>
    </form>
</div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
{% endblock %}